*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    overflow-y: overlay;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 9999rem;
    padding: 1rem;
}

*::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}

body {
    display: flex;
    flex-direction: column;
}

/* ABOUT US */

#mission-vision-section {
    width: 100vw;
    height: 85vh;
    background: url('./about-us-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}

.mission-vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.tab button {
    width: 20vw;
    font-size: 0.9em;
    padding: 1vh 2vw;
    background-color: #6a6a6a;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 0.3vh black solid;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    cursor: pointer;
}

.tab button:focus {
    outline: none;
    box-shadow: none;
}

.tab.active button {
    background-color: #d3d3d3;
    border-bottom: none;
}

.tab:first-child::after {
    content: '';

}

.content {
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 30vh;
    border: 0.3vh black solid;
    border-top: none;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
}

.content p.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content p {
    display: none;
    font-size: 0.8em;
    padding: 3vh 4vw;
    text-align: justify;
    text-align-last: center;
}

/* MORE ABOUT US */

#about-us-section {
    width: 100vw;
    height: 90vh;
    font-size: 2.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us h1 {
    padding: 0 4vw 2vh 4vw;
    font-size: 1.5em;
}

.info p {
    padding: 1vh 0;
    font-size: 1em;
    text-align: justify;
}