.footer {
    padding: 4vh 0;
    background: #303030;
    color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer .links {
    display: flex;
    justify-content: center;
}

.footer .links img {
    height: 10vh;
    aspect-ratio: 1 / 1;
}

.footer .col {
    padding: 0 2vw;
}

.footer p {
    padding: 1vh 0;
}

.footer ul {
    list-style: none;
    display: inline;
}

.footer li {
    margin: 2vh 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copyright hr {
    border: none;
    margin: 1vh 0;
    background: #b0b0b0;
    height: 1px;
    width: 100vw;
}

.copyright p {
    display: flex;
    justify-content: center;
    align-items: center;
}