/* FEATURED PRODUCT */

.featured-product {
    width: 100vw;
    height: 85vh;
    padding: 0 40vw 0 20vw;
    background-image: url("./featured-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 4.2vh;
}

.featured-product h1 {
    text-shadow: 0.3vw 0.3vh #2b2b2b;
    /* text-shadow: 0 0 10px black; */
}

.featured-product p {
    font-size: 0.7em;
    font-weight: 500;
    text-shadow: 0.1vw 0.1vh #2b2b2b;
}

.featured-product a {
    background-color: white;
    color: #303030;
    margin: 3vh 0;
    padding: 1vh 2vw;
    font-size: 0.6em;
    font-weight: 600;
    border-radius: 0.5vh;
    box-shadow: 0 0 4vh black;
    transition: color 150ms ease-in-out;
}

.featured-product a:hover,
.featured-product a:focus {
    color: limegreen;
}

/* FEATURED SERVICE */

#featured-service-section {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.top-section {
    padding: 0 0 10vh 0;
}

.top-section h1 {
    font-weight: 400;
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.featured-service h3 {
    font-weight: 500;
}

.featured-service p {
    width: 30vw;
}

.featured-service a {
    background: #303030;
    color: white;
    margin: 2vh 0;
    padding: 1vh 3vw;
    font-size: 0.5em;
    font-weight: bold;
    border-radius: 1vh;
    transition: none;
    border: 1px #303030 solid;
}

.featured-service a:hover,
.featured-service a:focus {
    background-color: white;
    color: #303030;
}

.bottom-section img {
    width: 30vw;
    background-color: gray;
}

/* REVIEWS */

#reviews-section {
    width: 100vw;
    height: 100vh;
    background: #6a6a6a;
}

#reviews-section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 4vh 0 0 0;
    font-size: 7vh;
    font-weight: 400;
}

.reviews {
    width: 100%;
    height: 80%;
    padding: 5vh 0;
    background: #6a6a6a;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: auto / repeat(4, auto);
}

.card {
    background: lavenderblush;
    border-radius: 0.5rem;
    font-size: 2.3vh;
    width: 15vw;
    height: 33vh;
    padding: 1em;
    margin: 0 0.5vw;
    transition: transform 250ms ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.fa {
    color: orange;
}

.username {
    font-weight: bold;
}

.comment {
    font-size: 0.9em;
    overflow: hidden;
}

/* USES */

#uses-section {
    width: 100vw;
    height: 60vh;
    padding: 10vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #2b2b2b;
    font-size: 2.5vh;
}

#uses-section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 1vh;
}

.uses {
    display: flex;
    justify-content: center;
    align-items: center;
}

.use {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.title {
    padding: 1vw;
    display: flex;
}

.title svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 6vw;
    padding: 0.5vh;
}

.title p {
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 15vw;
    text-align: justify;
}