#services-section {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

#services-section h1 {
    font-size: 2em;
    font-weight: 300;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
}

.service {
    padding: 0 1vw;
}

.service h3 {
    font-weight: 500;
}

.service p {
    width: 30vw;
    padding: 1vh 0;
    text-align: justify;
}

.service .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service a {
    margin: none;
    background-color: gray;
    border: 0.3vh gray solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.4vh;
    padding: 1vh 1vw;
    width: 10vw;
    font-size: 0.8em;
    transition: none;
}

.service a:hover,
.service a:focus {
    background-color: white;
    color: black;
    border-color: black;
}

#services-section img {
    width: 30vw;
    aspect-ratio: 6 / 4;
    background-color: gray;
}